.header {
position: fixed;
width: 100%;
height: 5em;
background-color: #D6E0CE;
display: flex;
align-items: center;
justify-content: space-around;
}

.main-image {
   width: 100%; 
}

.main-image img  {

 background-size: cover;
 width: 100%;
 height: 750px;
 object-fit: cover;
}